@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.area_externa{
    display: none;
}

@media print{
    *{ 
        padding: 0;
        margin: 0;  
        font-family: 'Open Sans', sans-serif;
    }
    .texto_centralizado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .area_externa{
        position: absolute;
        display: block;
    }
    .area_interna{
        margin: 10mm;
        width: calc(100vw - 20mm);
        height: calc(100vh - 20mm);
        display: flex;
        flex-wrap: wrap;
    }
    .area_interna h1{
        font-size: 16pt;
        font-weight: normal;
    }
    .area_interna span{
        font-size: 10pt;
    }
    .area_interna small{
        font-size: 6.8pt;
    }
    .bilhete{
        border: 1px dashed gray;
        border-collapse: collapse;
        width: 49.47%;
        height: 20%;
        display: flex;
    }
    .bilhete .left, .bilhete .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4mm;
    }
    .bilhete .left{
        width: 36%;
        border-right: 1px dotted gray;
    }
    .bilhete .right{
        width: 64%;
        align-items: center;
    }
    .bilhete .right .info, .bilhete .left .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .bilhete .right .info{
        height: 75%;
        align-items: center;
    }
    .bilhete .left .info{
        height: 50%;
    }
}